<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/input.css">
</head>
<body>

    <div class="dashboard">

        <aside class="sidebar-placeholder">Sidebar</aside>

        <main class="events-container">

            <header>
                <div>
                    <h1>Search events</h1>
                    <p>Find your next race and push your limits.</p>
                </div>

                <img src="../../assets/logo/logo.png" width="250px" alt="">
            </header>

            <section class="search-section">
                <input type="text" placeholder="search a event">
                <button>Search</button>
            </section>

            <section class="categories">
                <!--despues lo relleno-->
            </section>
            
            <section class="events-grid">

                <h2>Upcoming events</h2> <br>

                <article class="event-card">
                    <img src="" alt="">
                    <div class="event-info">
                        <h3>Night Run Barranquilla</h3>
                        <p>Barranquilla</p>
                        <p>July 23</p>
                        <span>10k</span> <!--despues veo si lo dejo o lo quito-->
                        <button>View details</button>
                    </div>
                </article>
            </section>

            

            

        </main>
    </div>

    <script type="module" src="../../main.js"></script>
</body>
</html>